<div class="hero-visual">
  <div class="tech-showcase">
    <div class="tech-circle">
      <div class="center-tech">
        <i class='bx bx-code-alt'></i>
        <span>DevOps</span>
      </div>
      <div class="floating-tech tech-1">
        <i class='bx bxl-docker'></i>
        <span>Docker</span>
      </div>
      <div class="floating-tech tech-2">
        <i class='bx bxl-kubernetes'></i>
        <span>K8s</span>
      </div>
      <div class="floating-tech tech-3">
        <i class='bx bxl-aws'></i>
        <span>AWS</span>
      </div>
      <div class="floating-tech tech-4">
        <i class='bx bx-git-merge'></i>
        <span>CI/CD</span>
      </div>
      <div class="floating-tech tech-5">
        <i class='bx bx-terminal'></i>
        <span>Automation</span>
      </div>
      <div class="floating-tech tech-6">
        <i class='bx bx-cloud'></i>
        <span>Cloud</span>
      </div>
    </div>
  </div>
</div>
