@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

@include responsive(lg, 'max') {
  .nav-list {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}
